<!DOCTYPE html>
<html lang="en">
    <head>
         <link rel="shortcut icon" type="image/x-icon" href="studentFavicon.jpeg">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial scale=1.0">
        <title>ScoreSAGE</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Lora&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="about.css">
        <link rel="mainpagehtml" href="index.html">
        <link rel="submithtml" href="submit.html">
        <script src="https://kit.fontawesome.com/413f3860b9.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div class="navbar">
                <img src="studentFavicon.jpeg" alt="student" class="brandimg">
                <nav>
                    <ul>
                        <li class="homepagelogo"><a href="index.html" class="linktohome">Home</a></li>
                        <li class="aboutpagelogo"><a href="about.html" class="linktoabout">About</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="container">
            <span><h1 class="welcome" > Hi!Welcome to ScoreSage </h1></span>
            <span><p class="homepara"><span class="summary"><b><u>Summary of ScoreSage</u></b><br></span>
                The project undertook the development of a cutting-edge student grade predictor utilizing state-of-the-art machine learning techniques, particularly decision trees, using the powerful scikit-learn package.<br>
                 The data preprocessing involved was carefully curated to deal with skewed dataset, and the model was trained using the most relevant data.<br>
                 To connect the model with the aesthetically pleasing and user-friendly frontend, an advanced web framework, Flask, was deployed.<br>
                  The project's data source was the prestigious UCI student repository, and it aimed to accurately predict student grades based on various parameters.<br>.
        
                    </p>
            </span>
        </div>
    </body>