<!DOCTYPE html>
<html lang="en">
    <head>
         <link rel="shortcut icon" type="image/x-icon" href="studentFavicon.jpeg">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ScoreSAGE</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Lora&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="grade.css">
        <link rel="homehtml" href="index.html">
        <link rel="submithtml" href="submit.html">
    </head>
    <body>

        <header>
            <div class="navbar">
                <img src="studentFavicon.jpeg" alt="student" class="brandimg">
                <nav>
                    <ul>
                        <li class="homepagelogo"><a href="index.html" class="linktohome">Home</a></li>
                        <li class="aboutpagelogo"><a href="about.html" class="linktoabout">About</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="welcome">
            <h1 style="text-align: center;">Welcome to ScoreSAGE</h1>
            <h2 style="text-align: center;">Student grade predictor: Predicts your result</h2>
        </div>
        <!--for form-->
        <div class="formbody">
            <div class="wrapper">
                <div class="title">
                    Details
                </div>
                <form method = "post" >
                    <div class="form_">
                        <div class="input_field">
                            <label>First Name</label>
                            <input type="text" id="name" class="input" placeholder="Enter your first name" required>
                        </div>
                        <div class="input_field">
                            <label>Last Name</label>
                            <input type="text" class="input" placeholder="Enter your last name" required>
                        </div>
                        <div class="input_field">
                            <label>Phone Number</label>
                            <input type="tel" class="input" placeholder="Enter your Phone number">
                        </div>
                        <div class="input_field">
                            <label>Email</label>
                            <input type="email" class="input" placeholder="Enter your Email">
                        </div>
                        <div class="input_field">
                            <label>Address</label>
                            <textarea class="textarea" placeholder="Enter your address"></textarea>
                        </div>
                        <div class="input_field">
                            <label>Studytime</label>
                            <div class="custom_select">
                                <select class="studytime" id="studytime" required>
                                    <option value="">--Select your option--</option>
                                    <option value="1" class="">Not more than an hour</option>
                                    <option value="2" class="">Around 2-3 hours,enough to pass</option>
                                    <option value="3" class="">Around 3-5 hours </option>
                                </select>
                            </div>
                        </div>

                        <div class="input_field">
                            <label>Subjects failed</label>
                            <div class="custom_select">
                                <select class="Failures" required>
                                    <option value="">--Select your option--</option>
                                    <option value="0" class="">none</option>
                                    <option value="1" class="">One</option>
                                    <option value="2" class="">Two </option>
                                    <option value="3" class="">Three or more</option>
                                </select>
                            </div>
                        </div>

                        <div class="input_field">
                            <label>About Father's education</label>
                            <div class="custom_select">
                                <select class="Fedu" required>
                                    <option value="">--Select your option--</option>
                                    <option value="0" class="">None</option>
                                    <option value="1" class="">Primary Education(4th)</option>
                                    <option value="2" class="">Secondary Education(10th) </option>
                                    <option value="3" class="">Higher Education(11th,12th and college)</option>
                                </select>
                            </div>
                        </div>

                        <div class="input_field">
                            <label>About Mother's education</label>
                            <div class="custom_select">
                                <select class="Medu" required>
                                    <option value="">--Select your option--</option>
                                    <option value="0" class="">None</option>
                                    <option value="1" class="">Primary Education(4th)</option>
                                    <option value="2" class="">Secondary Education(10th) </option>
                                    <option value="3" class="">Higher Education(11th,12th and college)</option>
                                </select>
                            </div>
                        </div>

                        <div class="input_field">
                            <label>Alchohol consumption</label>
                            <div class="custom_select">
                                <select class="alchoholic" required>
                                    <option value="">--Select your option--</option>
                                    <option value="0" class="">None</option>
                                    <option value="1" class="">Only on Weekends</option>
                                    <option value="3" class="">Only on Weekdays </option>
                                </select>
                            </div>
                        </div>

                        <div class="input_field">
                            <input type="submit" value="Submit" class="btn" method="POST">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>